# OAuth Credentials
# Obtain these from https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Obtain these from https://portal.azure.com/
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# Obtain these from https://developer.apple.com/
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

# Random string for JWT signing
JWT_SECRET=verifier-ai-secret-key-2026

# The URL of your application (no trailing slash)
# Development: https://ais-dev-6heleiw5fppqlp447f4yud-61175410753.asia-east1.run.app
# Shared: https://ais-pre-6heleiw5fppqlp447f4yud-61175410753.asia-east1.run.app
APP_URL=
